﻿@using AlertasMVC.Models.Enums
@foreach (string alerta in TypeAlert.KuramaAlertas)
{
    if (TempData.ContainsKey(alerta))
    {
        <div class="alert alert-@alerta alert-dismissible fade show" role="alert">
            @TempData[alerta]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
